<div class="home-component-header">
  <div class="home-component-header-row"
       ng-repeat="config in $ctrl.workflowConfig.header">
    <button class="home-component-header-button"
            ng-repeat="setting in config"
            ng-click="$ctrl.jumpToWorkflow(setting.key)">
      {{setting.text}}
    </button>
  </div>
</div>
<div class="home-component-primary">
  <div class="home-component-primary-row"
       ng-repeat="config in $ctrl.workflowConfig.primary">
    <button class="home-component-primary-button"
            ng-repeat="setting in config"
            ng-click="$ctrl.jumpToWorkflow(setting.key)">
      {{setting.text}}
    </button>
  </div>
</div>
<div class="flexChild rowParent">
  <stage></stage>
  <div class="home-component-secondary">
    <div ng-repeat="config in $ctrl.workflowConfig.secondary"
         class="home-component-secondary-row">
      <button class="home-component-secondary-button"
              ng-repeat="setting in config"
              ng-click="$ctrl.jumpToWorkflow(setting.key)">
        {{setting.text}}
      </button>
    </div>

  </div>
</div>
