@import "mixins.scss";

stage {
  @include columnParent();
  @include flexChild();
  margin: 3px;
  border: solid 3px #000;
}

.stage-component-header {
  @include columnParent();
  @include flex(0 auto);
  height: 47px;
  padding: 5px;
  background: #505050;
  color: #FFF;
  line-height: 25px;
}

.stage-component-content {
  padding-top: 4px;
  overflow: scroll;
}

.stage-component-content-row {
  @include rowParent();
  @include flexChild();
}

.stage-component-content-button {
  @include button(rgba(207, 28, 244, 0.53));
  height: 51px;
}
